@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


/* General styles */
body {
    font-family: "Montserrat";
    font-size: 1em;
}

/* Header styles */
.header-list {
    display: flex;
    align-items: center;
    padding: 2.2em 3.94em;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.menu-list {
    display: flex;
    align-items: center;
    font-size: 1.125em;
}

.menu-item {
    margin-left: 3.1em;
}

.blue-button {
    font-family: "Montserrat";
    font-size: 1.125rem;
    text-transform: uppercase;
    background-color: #7AE5FD;
    padding: 1.15em 1.94em;
    border-radius: 4.8em;
    border: none;
}

/* First screen */
.first-screen {
    background-image: url('./images/firstimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.first-screen-container {
    width: 50%;
    margin-left: 6.5625em;
    margin-top: 12.89em;;
    width: 47.69vw; 
    height: 48.375vh;
}

.main-title {
    font-weight: 800;
    font-size: 4em;
    line-height: 1em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main-description {
    width: 24.2em; 
    font-weight: 400; 
    font-size: 1.25em; 
    margin: 1em 0em;
    line-height: 1.2em;
}

.white-button{
    padding: 1.2em 1.9em;
    margin-left: 0;
    background-color: #FFFFFF;
}

/* Second screen */
.second-screen{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 10em 13.625em;
    text-align: center;
    font-weight: 400; 
}

.title-support-screen{
    text-transform: uppercase;
    font-size: 3.75em; 
    line-height: 1.2em;
}

.sub-title {
    font-size: 1.75em; 
    line-height: 1.2; 
    margin-top: 0.55em;
    margin-bottom: 0.37em;
}

.description {
    font-size: 1.2em; 
    line-height: 1.5; 
    color: #73A6B1; 
}

/* Thirds screen */

.third-screen{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.description-block{
    width: 90.13vw; 
    height: 63vh;
    background-color: #F1FDFF;
    margin: 0em 4.4375em 3.125em;
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    border-radius: 0.625em;
}

.text-third-block{
    margin-left: 3.875em;
    margin-top: 7.5em;
    width: 36.77vw;
}

.img-third-screen{
    margin: 2.5em 3.875em;
}

.desc-header{
    font-weight: 400; 
    text-transform: uppercase;
    font-size: 2.875em; 
    letter-spacing: -0.02em;
    line-height: 1.18em;
}

.desc-text{
    font-size: 1.25em; 
    line-height: 1.2em;
    margin-top: 0.625em;
}

.button-margin{
    margin-bottom: 10em;
}

/* Fourth screen */

.fourth-srceen{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    position: relative; 
}

.fourth-screen-container{
    background-color: #F1FDFF;
    width: 87vw; 
    height: 39.5vh;
    margin: 13.75em 5.4375em;
    position: relative; 
}

.text-fourth-desc{
    font-weight: 400; 
    font-size: 1.68em; 
    width: 38vw;
    padding: 3.3em 2.29em;
    line-height: 1.18em;
}

.fon-image{
    position: absolute;
    left: 47%;
    top: 15%;
    z-index: 1;
}

.kids-image{
    position: absolute;
    top: -4%; 
    left: 55%;
    z-index: 2;
}

/* Fifth screen */

.fifth-screen{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.goal-text{
    margin-top: 1.851em;
}

.donation-amount{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 3.125em;
}

.amount{
    font-size: 3.75em; 
    line-height: 1.2em;
}
.separator {
    width: 0; 
    height: 3.875em; 
    border: 0.1em solid #9AD2DE; 
    margin: 0em 0.8125em;
}

/* footer */

.footer-contacts{
    background-color: #F9FADF;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 3.125em 4.4375em 10em;
}

.contacts-section{
    display: flex; 
    flex-direction: row;
}

.phone-icon{
    margin-bottom: 0.5625em;
}

.contact-info{
    margin-left: 14.125em;
    font-size: 1.25em; 
    line-height: 1.2em;
}

.phone-number{
    font-weight: bold;
}

.telegram-icon{
    margin-top: 3.5625em;
    margin-right: 0.5em;
}

.email-form{
    background-color: #FFFFFF;
    padding: 3.75em;
    margin-top: 3.125em;
    width: 81vw;
    display: flex;
    flex-direction: row;
    gap: 5.8125em;
}

.text-input{
    font-weight: 400; 
    font-size: 1.68em; 
    width: 38vw;
    line-height: 1.18em;
    margin-bottom: 1.44em;
}

.form-input-field {
    font-family: "Montserrat";
    width: 33.5vw; 
    background-color: #F9FADF;
    border-radius: 3.81em;
    margin-bottom: 1.291em;
    padding: 0.875em 0em;
    padding-left: 1.79em ;
    border: 0em;
    font-size: 1.25em;
}

.button-subscription{
    width: 35.8vw;
}